*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
    border: 1px solid #0a193c;
}
::-webkit-scrollbar{
    background-color: white;
    border: 2px solide;
    
}
