@media (min-width: 751px) {
    .order_mode_btn {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .item_cart {
        height: calc(100vh * 0.3);
    }
    .content{
        padding-right: 0;
    padding-left: 0;
    }
    .content_open {
        position: fixed;
    }

    .order_message {
        margin-bottom: 100px;
    }

    .basket {
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease;
        scroll-behavior: smooth;
        background-color: #FF8000;

    }

    .basket.open {
        transform: translateY(0);
        height: 100vh;
        width: 100%;
        scroll-behavior: smooth;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .open_cart_div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart_header {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 90px;
    }

    .cart_panel {
        position: none !important;
    }

    .main_content {
        width: 100%;
    }

    .content {
        display: block !important;
    }

    .open_cart {
        display: block;
        margin-bottom: auto;
        position: fixed;
        bottom: 100px;
        color: #FF8000;
        font-weight: 600;
        padding-bottom: 10px;
        border-radius: 20px;
        border: 1px solid grey;
    }

    .close_btn {
        display: flex;
        margin-top: auto;
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .logo {
        height: 80px !important;
    }

    .logo_wrapper {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
    }

    p,
    span {
        font-size: 14px !important;
    }

    .close a {
        font-size: 38px !important;
    }

}

@media (max-width: 480px) {
    .dishes_link {
        padding: 4px !important;
    }

    .dishes {
        width: 99.5vw;
    }

    .footer_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .footer_container a {
        text-decoration: none;
    }
}

@media screen and (min-width: 1200px) {
    .ham_menu {
        display: none;
    }

    .menu_nav {
        display: flex;
        /* Navigation direkt sichtbar */
        gap: 20px;
    }
}
