.header_content {
    background-color: #FF8000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.app-logo {
    height: 48px;
}

.hero {
    width: 100%;
}

.hero_img {
    width: 100%;
    height: 200px;
    object-position: center;
    object-fit: cover;
}

.logo_wrapper {
    position: absolute;
    top: 270px;
    place-self: center;

}

.logo {
    height: 120px;
    border-radius: 50%;
    border: 1px solid gray;
}

h1 {
    font-size: 36px;
    margin-top: 18px;
    color: black;
}

h2 {
    padding-bottom: 16px;
    color: black;
    font-size: 28px;
    margin-top: 30px;
}

h3 {
    padding-top: 10px;
    color: black;
    font-size: 22px;
}

p {
    color: black;
    font-size: 19px;
}

.price {
    color: #FF8000 !important;
}

.vote {
    padding: 24px 0 0 0;
    color: #FF8000;
    font-size: 22px;
}

.dishes {
    padding: 16px 0 16px 0;
}

.dishes_label {
    padding: 8px;
    background-color: rgb(158 158 158 / 59%);
}

.dishes_link {
    text-decoration: none;
    color: grey;
    padding: 8px;
    font-size: 22px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}


.main_dishes {
    object-position: 10% 75% !important;
}

.dishes_container {
    border: 1px solid #9e9e9e42;
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 20px;
    margin-bottom: 18px;
    gap: 8px;

}

.dishes_container p {
    color: black;
}

.hight_img {
    height: 110px !important;
    box-shadow: -3px 1px 4px 1px black;

}

.padding_left {
    padding-left: 16px;
}

.dishes_btn {
    position: absolute;
    place-self: end;
    color: #FF8000;
    font-size: 20px;
    cursor: pointer;

}

.cart h2 {
    text-align: center;
    padding: 18px;

}

.line_2 {
    width: 100%;
    box-shadow: -4px -20px 3px 0px rgba(0, 0, 0, 0.2);
    height: 1px;
    margin-top: 26px;
}


.cart-items {
    text-align: start;
    height: 250px;
    overflow-x: auto;

}

.item_name {
    padding: 16px;
    color: black;
}

.cart-items p,
span {
    color: black;
}


.cart-controls {
    display: flex;
    justify-content: space-between;
}

.orange {
    color: #FF8000;
    cursor: pointer;
}

.icon_btn {
    font-size: 24px;
    line-height: 1;
    border: none;
    border-radius: 2px;
    margin-bottom: 8px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    background-color: #FF8000;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.copyright {
    display: flex;
    align-items: center;
}

.mobile_cart_btn {
    display: none;
}

.cart-summary p,
strong {
    color: black;
}

.cart-summary {
    margin-top: 8px;
}

.flex {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-bottom: 8px;
}

.none {
    display: none;
}

.order_message {
    display: none;
    font-weight: bold;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.order_message.show_2 {
    display: block;
    opacity: 1;
}

.show_2 {
    margin-top: 20px;
    text-align: center;
}

.close_cart {
    display: none;
}

.cart {
    position: fixed;
    margin-left: 40px;
}